---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBR+qiH1hSQqb4RKOc8io17Sgvig52n4j4K3DRV56U6jybmMkz98jKxxuWo4qIpGgr3OAIAI9b3vUvdDn90seviYR1HwPvwMkLEcEzzWT0/nzxDc36s8bTDPIj/AsA9JWz0dlIYspborRplXC36fohZ80LSZxUATh7qaIPximU0Mogps6qva+RSRkQN1nWtqhIDfrldHN2KNkYCL6H4ViRvTGPD7O4+GsHHrD3F7mRzQofP3OxnWanIT3D75E6aAxqGR9eDZeVNXIoMcwODX6tfDk7jlMP3zvGTtBXlSan8FSl1DQhkXlkioWREX0e4RiChHtD7jBwUpPpU6snTi7TQ8BfRW38UOGA53UZWrwDcpKiOWznvcHoz+S2fcD8ByTbd6qGuP7ozf1tDh1jlMHUMB042+7Qyd+J9sQUByRpL2sfkrx++BZvP8cJ+uk9Q/HKNU8CkJZP5MizUI/LSh8o3bWj1ht3cIo66i+ynfGBHvHt+UwVUZ3sD9BdoyzSo7V5o2ChN0RuHU3R/vVPwOqZm/Dtc4M4OwDDOmlnnJTGLWcnDRWaCGENSzAYoxzv7gnNNkNIZS24OLo4p6ngvgxIMcdtBxOWVoMLA7dOBWWfwKX9CMZDIXlDkYCLIC4PT4MsjXCzovG+l4xg7RD45UPCMKIqvnVsvKQY2ZshszNEJfNILh7/HWlDZk25u+kYPc8rPmewfpCJJDulXdkXIZCWN7ssdx4zugG4qNHZbWIDJe+adGVq3+sjDlGVetArlFDHs/fqLMfkcDa9Za012rcsgt+M9MMFWyGtYHdM0kDpJ+SIjRiUWAiK9Fabed8CDyO6ebn13EhlcGmJtyjehde4iAXIOsDaRK45XKMRe4QvV1pj86bKVS/8I7Jkx1fHQpbCNk1fdocFyPxv/ljsxxdufsQwnMGB8zNtF2nY2PxlzIUtFRihsG6Az3sPynGJF8vc=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
