---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgAP3Fp7AnxjdBG8myv/XB6WnPlp+jMN9765je9wl9ChTRbk76UE/vvnAF+7Iy9ajhVnKQ/sohkv4fXInu4MY15UCMM5aMvgiRuPIQKBY+dYIAmFvDGodzbeYFZrlNFWSsdMi/AK+ZD0DyAzvhxqW6gvE+5XE72SKcui9CUp1r/0JvhAUqgRzrKopoRBDhoxoJ4wgtWVeT1huTrMLfeKaK9DoA6H77ezW9fcYzOKizyU5j6NWtUks+ExkCLrWYKQicUWSFsGsmyQXTxg6pmvwld2vZq+YXPlzAlVrw/VGtSllT1qWfNYk9SvXjwPIxDgh7r75ckLsZ6BwrNg5wRW2Qxee5dPcScAgwsPOnzrZhnOjWcSUkAujYBts2vPd53TYskj/hZAbAiIhd6x9eHJpNyQE6TvLl/R8xdC1cz/PB+Wx9bP8fztYtrhfh855NGTFoZfOV5bb1F/NU87RDyXFvaORYpM+yDwqlOVTaiAIEyVFk+RjmS5xnIGdcLZgFCOwAqAn4k0Hx1n6ssGP/Vg/qlcU4uWZTteOr6odY55CXIgfYCSiI3MOAHBoUf5+1t835ass0OOkjqUKgoPyj4dq7hFgdf0UcLnUikswd5EOFMs/wBOrR8K2svt7Ezd+x46A2Hg490oeno18UqC8NP4hgFmqf9kDXUCV+qiMZjwdgxnFoP+anyPC6yyxqoNoFJJtUHWNxgsAX+19hDEY2YXMFy/mgNMnWWNhDu1HwniURaIOr2iAJk1gyJ1nLhu4kg/IspgOmY7sZKTNF5N77H2CSg/US1muEoD4+ZA9yngl6wJJN271w4uQQAORF1K3XDfc0Jdmtvzs+Tz2hYTtTjbM/b1xf05U+EYF6F0vi1r/FDXcM4/quLCz9eSFhSedIxwhA1xCNbTdNhpN/wippBy3HIYdOh808MGJkcSSA5UXrAuN3+wEZvspZf/rXssQrQ=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
