---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgA9AHfYMWnHvKAIIM6hdDuI9f5ATEf+2BYg2KDQ/ntiHOMfcKwh+V/fB1zNcRFk5DkujQ64rI50uyz3rIwPKyCuZ2zHtLM2PHPwkUzbmdbmYZdtJFmxbRxj/el4JmWv1ugprO3iQO0MtlVGmEHsO0H4TDRXbfkxQMa5q44l2l/9P+zGDkfi4e95lsBAK2+YI2SWHVWvuhH0BCeki2e1wXYKm6Ym/O2Y3LLgT6QvA9Oyr0DkuO5HfBpO63w4q5rkoErUfmHSYvRcV5fBSm0ShVbDBK4Bb3wnyzaflOftMyWj2mhaqm/txETvyVeSPoQl1v1dGeqnuIdt9InR66fMY/rpYwaC0lXJPcw/N8m5EdSJFGJES2b8ZAawijRFtOnnyLKA27ZgsPKl7R16f7Dyk27hgzJmxJML/2Vh+7cSh8Smd8NMN0L5865L7Kq70iOWBSHUg2/biXtadGpG0zDG2XEKqr36Iv23iM8+u+5LCw8ki7QfCoE+NvGoljhWDzzRx6e1CXw1gobytA6aEIm++DFNbUZZKxX1plHt7QHIqFZ2Q4Xt5m/Ykrc8ObzN9cEGYX2mZD/NzfY0BmG0Ap4xyUHOJb0c7A2zSkKqM6EVLT3jO19tF74hIJrE+K3NpE0/tAdHwvaebTRVP+3cQbRoSHoexspBMn+xQ7sYzZlVRjlLDXDGI9Rk6VLQV3sSXygxIUfRt/TVZeNJOdIpeFB2ORRGVJvXW8ZKg+WVcNAdmfkMGF2KmIU6NUI5xewM6IJNFBmhrFm9LNKo2BouTZjSbnKRzrXhCsO9yE0v9Ijy85NixcXSDWHWMVcqpydssjbVmGuHs065qQBrByRMXLFCrFEgTPh3WbB7wmOrSrOO/ksszxVk84aCDeQjGLhkYxRbv/zjByChRFWAWix3o2qsi27JOEsrRXN8qjoTH8XUxglQ6CVUR6bohPPGzUzWBApcPR8=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
