---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgDCNc0govSt5Jjcp0G2oM+Khp3KYJ/12xH45CVC/2SZxXFcGMVp98dFU7mkZYxE6VdCwAUzYomXXYemzyzDVYSJYB8KbIP4sqLoGJ3VrpknsC4mDqrclKVEs6WNe15eph+qGU8+LbGupTVFRWGY/MUv8iHlRLZm0C1whukcp8ZRMsiaZPZOS2iA+Lrew3YscMKThWW3aANFPG3kGxpsFgF0tDygC+YL46VvhNyJKDjpWEt9QIFX8pxrCqYyoS5RlBj6s49qptVKJHsY/qRU0mLWJ3vPDAtSjIMWWihMCRrAL4LUJmo+A4t9iFRIee0uPucX1imkyhWG4Q5tYWGHmMKSMfNYWsU88waKoxLb3OEX+aEg84VgTWpW0K1CJqryiR7OYAOYPCdzARmzkMFezLYJSerCj+in9JrjtuEiJEph/APDZUoLDgTYpWlEdaps3KOC9nkACKDF2MK+YLzz4EasKrMbK7eKebxidO7hCWMVzkuh4T6Hpcnf7fs3EokRA1SJI3nGRu6dnqZwpVVSQbsYgSlPyZaC4I+9TF6iWKgOq3sfueyRnaFPh4Duq1UA8x1fJvqYliTIwyycgOluSUXn/qhVKsDKPQrI3f2BNiijCJvZDvmkIMToCyUQV7eWCWnik8NV+rg9y6IQgJqvuiIAeu5dtHood+kih+mbR/IkNINYPFoxJp9QKsLxLnQU/CZDNA/ur0gFcw61FY9KVNbfxdevmxjEgb0oJvJJzXJB0B7tabbY7ab1JmJp815oxe4FelctwqHir76HKXMhrscj8Ovi6Deg0vgjTJx4QXHw/2o4II1TCco2dZNuEtdihZxKAGLXxcJPDvWcTu+fUTuvAj5IP8n05nPtUt/uJ20G0DCZnyuYXVJrR5cnni7/RtBlFTGKHP6ztwEg3ggHtFNrbpLimKZSoaGyqiIuTDuN6k6zc3B6fGzHHqwQffqXz3nyzMQxHy89dwKanfJR8dr/P78lktQuskQS8vg4K56MUx5F5bVmKPC9RW22bpfUsYecvbgYsmUW2MsmQMJwwwORM0isOJo=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
