---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgAecem+PWcUn2yEQvJNuMzC3TNuf7twew2Uy3gvWkJ0ztwsdvmDuHHL+77t6bnzYGuJ+J1Bw4KqJEP8YJA1rsfA7RI7FfSwGigqh9d8IV0pg5LRDjWwLRSP3okPtWHWfpRRhejRPp+xymUN6Gwlrxr/6jbuBLIaLzLFhOPNoSlJJgxSmnFBqxzvkou3UstZsG8S2/a2/t/I4yq+qpUgPzgcY7ZqRDMK4c1uJzFoYrSainCunZloCFrKAar5W8/zmC1ssQyRoO5QX9K5FKC4uX73lF8tYxQHNxcX7hFSyFXaEwWy5r9JSUtSQMjxhuEWCdTGSHjp+nJsB7kT79KGAnmO8amLmVlFlIgf3n6oGEuOQnQvndTfY2FYG2v5TbKJi1tUhLC+tUHY4rD5mnXWJnjIu9wsLmtJ6f48C77OaLUPt6L3aykEZVG/COfCJdH0MoPKUs43eqrAzBM1akpFDoEmus4QLCg3acpnS/N5eTWAxW7yvhGZnt1C1uTYIUmF2Vbe/L7G7hXT21mhPIip1IRVYe5DvkF8/JDWQ1cyMBACZ5BydXy6JDvpTbkwjEWwN1UN8EAIZMSlwCOyhgiNcf7CEBF8QDCWd46HJfaeeMdVnnf5oSgpAdFoudKA2HOm1PBUeg0KUfScC89M2co9Kv1k7hTocsvVv2ZKdCDHxmsbx+ZonhqNYxajDTD6mlkKCwjEFMD1MzRnwveSxARzEeQUWchyILd3jhOLp/vUKd/qwTjX1sYaq56TS7+ltjc6ITMti9uwHkpzwlqwimPn+F9T1ZvQNdhEOgp5ZCSxdEcqDoH9gTArvu7Atptx34cERDQoKn3L9vrwVZqJe7qJePYnaTvjFVjbXDsVZigkf90Mk7MF0BLDg+5x9aRM+IIRwWiDvt2xA+U2r48SL71ZjuN/8NAVacpqOSwwYRTarhJPQkniG6fpLkJWcXJkmkeI91LD1J+oYIOlYbJq7ZINNHTMLWoCiz3A2yvYfRI8t8cm605YSP3ay6JaZqUXaHD0cz3CnvnTYAwvDzDAi7CANwu+SuY=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
