---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgAg+yoTqgGChPO7lL1kms85Y28USunK6St1HClB2DTX+6vWK97yx4AqEbtrzkfP1j8LF3ByLEyFqimOO1jTDnHSmebxnF89jcssHmE6mXN04yrD5yzfU8uJLSJva6wjsO7ZEPkxRpXYOZeDBJ4I+6i/pJCBCuty3ucg7aooXDSoSb7kzZ2e28Io3Gec3OaxICuxn3kIZy3GWFKZkoAefg1nEH92/SYxs/ScUIbEMubJzXVxVU3kS73GmmtkAluKOvVEL1o4MV9gOTxHwq8AilPOeie99ey/gFciG4Sk2XaUdNDuvEagjcQNfyvoqf01GBNwtLOK9PS4aB868vTXX2C81anGghDnDgRtbgLF0NFgRg9rBUYOfzLwb2bOBqf3ecXWuxrPVVFHEjDQylD0L1+B6oln+zifrZOcliQukWNjA8ZgrZsFLz5+zunhjgntSpP9rv42XGkKxHbyRiqw2+7kH7oEJxId/lHmmZDkssH15tnX+FmuKLO8VKRVuDxSN1MoeZbXiOenPagJ1hv3wRG83CQkTiMaGRvDx/c6TMvm5lcqjPNG+eJuH8IIXMcedqPB5nd7Axz63I0KmEmzRbUMrBZg5SAsI54d5d4v8dyFca7/YkY0u5pBFjgC4AqJ+QMOBUtvXYj4H8aPZSqFi563apBCJY/XVjM8Oky172dF/DqbYpIEPptkWZUw100SH9Ws2XsqNa/05ht3IDQ/n3l6rXbKjobCJOOrIhTNjNi9lASm/yY7EnvUrhM4SRGLoir0tcAziNoLY0mT5mvVfHl5j9A5rvej5MsuXmVuDjHJdRmwHlTQ4bm4sxo0RHWBjPSlLUAx9bX/25w7E72rrjeNqZxWPIri9jdba6/u4Gm7KYViJARFjLmFasgFCHRun7sVOBUUKZf5JLCyl6sQFfvDEAnzs22cVNnTmxlfxzOZHvFpLQzFkKo7nHOTWyVXW6o=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
