---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBsbagu+xOcq4I2fouY2befVbft9HguhDmfagFzg/xIAhiA+qDqdl+/muTRs6JtecWzEn/0Y+oDGjVTSMTkYonDC9QUGEjbYQCzDg7DO8Wkd8Ss6P8yvmrx70g3XfYyRJi8ZFZjPuekG4+HumFW/nPWGecl92UOZbUI8ciiayPnwoTLMz2Oa3REAQqHKUYLvkjOAFjYmLatvBZ+/XdkP/tPpttXEUrqbaTfEFcWwxPq98sBZomNZYAkh0/pfVN21T1ChXUde3lRRUnBX/pllM8sFa+4l5Isl7z6lo5FrMnDpY6RpqYkIsWMVDF15nyQBqmewMSoLy5pMH/YtLubuFX1jOBeqdXXz7LNvtb46yvifrkVUrSmwdmuRwHT//oVGBt0qsZRzd19E55i8IseW//IxLnYQWNTCTPyyEtIILK4wWexB/MdHovL/hEbSEtR865acj/JCd1199xOVRa9FgKLNpHOfRrkCrsJg6ZfeJR+YHvUStr13R8UiTtTim2f/LXY4f5oRA6nIvr//bH7/8ke1KYgF1cS2l6LeZuFZYQibu3VG+Vv0RCr/wG34uh6lxYmErOy+fKiknUoWysfLO2vZKdImCAAk3cqbSB1/UiGmgJ4QlAAdm/1Qxvlcr2YkVYDHQuATVuU6SiSZM4GuiLn+bdKYk/TB+IVkfCi3R55xC0KyO7hvEQEx8FiYyI2BxrIEXgNcJVo4x728mPGOjMBBXG3TpNfxcTfmAuxM2C5NO1uwcK8Y4TQiRXegJVLzmedaDl2iYTR7mRN1dm5Lnz2y6FvZ9bBN/3FkCdU+Qx92bV9Dp1qlQL6TNyqOAICG34hk4S6EC0fkGUfDVrLHDTAhp2xKM5D2XTgePbLTdGAQWuzlSBDuhaXxymenAVma+8K6m3PpjvQ+YzH85ALXttQVxzObC/8+eKS2vc3HHLv2N+ZbIGpYrt7SNP0nirTScQ=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
