---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBymFpobukVM/Km0Xad5MSwnoD8qpVN6aNrmEx+agDmfnzKklvulhlYC8alcz/fy8ASVjALk9AdMt4bVLpgv/qZoHBbOKxggQ8XMUY+3nXxqqnq6KK3na45OipDsNt4YirugCQtdAXuI8Uw3sRquAMfa0E0by55utxyiHS9UcC+owiGo8Fi0I2ggg1mzVnPCUCQWwn5anxCMZxAsp0KMagwnjOwqyL2llfOO3pPOVMkoqMo0xFVwjfwfD+R6mrYeuusjsiB52iV4cpd2UvwaRlqF98zYkfiR+cMHgdtlXVBgyZGbme/07CA2vnhoKcMyKw7jIx094IARdmk8UMohHIoDeUwpFMEhCLDBzWGvD//l0dOyUAyYpR+ITR7MVaNGe96Iol2G/m1HLo/ic9VYWaZtfF8IAPNYtyb6gqcHc4X8MNMYSGQKFm6jUgf673uz6SJq1o/PETdYrX6sXUHJOE49Qe93c2VE/mJS57VbFUj29IsOunenfHWudR3LxRkbsrSYDAhrdsJgRAa2evmFgD7lppKBoGDPRJ1cti09jh/evc1uSc8kwvH+/Oh3dxPl2WaFUdCeGPd7tvaDXMEeIfYKs/eb+/r/dcyErmeDQSef+6DK1/AwZBsFHY+0vs5bocqrMrifbALN8ttkxXypkOVTSEm09F3SH8a38Ubl0C+ZcefCX9I3a76tlUis+bO6fPpkfcoWLV22b9IyoSqiA9XIzZ+/LtLawGtUQIFiGNxVMiiIKNIrgVyAQACqBcUS8muciVj9RHXVuEjID54/Ogcl0la79DvO924C3NhITOsO1k7wxL1XmiSzLPASl2XYNDxiQ/PHPSQMnqmOSSvd6Tn6yNyxJg39r2nhFBev0zgM6ju8jt2njHMA7zCj1oMspRrNqSwZutNkJIYhG05a8aPihd674YU6+BQ9e7q6nIIvoeGx219g+09mn6WzEy9cXEn4ViYrmpTLPl4e2E8OpL0AVyrmQ==
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
