---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBPDKdyby4hPSTmL5n4SQzrf7KV7kl+XDrXQnllnxdINtj7LQeNLik1PA7toCmCiaVbJClIaoDPpVng5dM3uJcz9yT1O+lTUhx/kO964GA6DT/z7eGJwph5y2g5nSUTM6kSCQev6l3X4UD1ty3JZzUBEBz368EIwBtIHWe1ZD6xiz8jZydS08tffpWkejP7j0aeoQz/iLZyjHF6TFf7ka86EO03ivEbGgTNDFdfO16VuUnvAswFA2YLMNySbWzJQ1tY9RxAQ1a4fgzcbNP/R8awsvNaBYMF9spYEZhB2HcPvJbRznfgWp8adm6qGye+oRR96Fk2/KWDA+polBhz8V+8w/OH5oUDskapTudNr79ra/khsT8lczs0rlJBBr2CCQ3nHPW/8LMENRVfZjVCqAzNz4a4TJr2iThgt2mq30TK/7k7wTy6TCOmFOTGxRg/ZUH6rdJrk06HKrRItaHQaJ8Mp7S4Z09kf/ybod81PozvwfgHu42WSwPBMKCB3OrJFf9IyohgnQMcTTdXPuibN0pS5uaRGS+4GPOarUcs6MGYARml1DRWQCnYLSb8yoSV48y5JWu/3Jh+BUcHnOahXKg5owiaa3LrCSV5qTIpvQkvgPo0QPp47yUw1Xp3TaRO8PJesr54mjXxlC1C1vf6ZaPZLBNDZXj9Vs/MWCxu08HmBQIxz0PPRQGVSiCuklY+X2xoHzQ9JZSygLuJ6+zS4kgdVfgQ8OtrTK13q9R0q5EfKg5tPffQLu1n6L9zB73P9tKxGJd+F5yYPiopv8EnI/GcKcLMGDbNgRf81lnIkBVXw4vwNnyKkDcwm0QBRTp3MGevQcxTLzy/Q06KQGq9iy8bR5Us5zDceVu7mw276l2CStGe9VdDsZRBrN8Mu8Q0zmn/10Ix4BTkUxxROP8rbVAztCtUdQnefIL8jWpa352534sqgzgGTEEt3yyIFKgYNtEu79wdqT3VXnk7Cqg/ZDw6uiDrAGNN8sEVxtnSGy+baRvuheeCk6uy7NkVc4P1DF14x3A8KbyE2BEcUhl0
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
