---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBOWgLDUmwakQSKBpelE+RdohZ29KI4z2nA3b8wf+Q116iPieG/Yjm435GnGcjcndmAwzRJgfwsrD3piuA2AxPnw9ke30Tf9q1graPk23gqr/INhnKcuNvYQeQK90rjkuKAaczDcEVPBZXkMZC0ccWTYhBhCRs7bEmBP9im/QHFKuSKM/+BmmZPqs7GF8Q27CWLUXkopWaR0qagt2lXXDMAvDSlkJ+9HCuDd1tLING15igIr2dgXALEfwvXoXGS9p+M5AF/+iQPwFB2qhUjosT/s+EJuCgeOb2zHW6xHuCpCb4qUgcQODASEiCahaA9+dM91bw9dVfYDYWq5qAs9H36VLQi6MXoC2PgApkaxKJEGmiopPnhJr68rD2HcrIECxo20QO0Q7C5aoegU/g/a964Bh5Q0YEI2GxB3Ho3lvb5wzL2wfPHfYYcA76ayCQlMIXGSlTyqtCOpOMuCXQXN7cjNeq+sACVinAzNm0UZcGDblZjzbmQ43BnDkWNCKbzjdNYH/E5sB3bAdfyz93iWIJe9cL178AljDftjZNWbmXoS9t85yC2AgmutAWL+M1UmA9zIR1iz3CQ0PHXz6Oby160TeiJmoTkqIQcrfa2yBVt5xA2XdRDaxZGouPJMvCiCFxefbiluRuOnWO1Pdhkc1KqymBNyiPXF5/t3OQx0qhHXOpnUN5EnvwRbObiP/M4wHCYoNcW9I+3ccJcVkynv3ZlHFWqxNb7QyKVG8HdmztQ2aTC4OuJthqXshis/is7WIxslIMtSBhT9aEUvkreJKqlgeR+EJZZaaMj5OW0dyYHBnXYOF89Qlh/UGIMBdkv0krQtbMBMUivFhA3fPqfGbqh9UZrAAoSGIVGaRkxsWT4lbOzw99D8S53rFkb4Qk+Ea4reM3OmA+n0Qa+ouo60txGcYi3QZS4p5vaoSY=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
