---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBPhbYPekeuCBU40V85XL1YZBknfq/AvJWhtBEFPZe4DB50VaGXrHtneDyG267BDYKqF5Y6F8QTXLcWr/lY62xj4N84b2F/6gQIGmWcfkkJlPoLFhnEgWEqfqZl7Ad8E3J5Hs9V87Gp0xj8HwLe6cT/KIy2n6sAIBOOdzlPSjeqRkDFAJ0ILpWEX9d297+qEQOaJpdPw2ixGIKpOUS5LqpNFEDdQAYIjArurk6rHRwS+RDyIR4UdwMlshXkbVFaKjumHXfmHgKjXa1Y4TbQPv7GviVIH9DSB99DtSJtFzFMmN88W65ZVCNNihUo5hcH9I+Q6JhiAatkNzjhjxFDfJHFmWhiwzlVPIqUhAEAPQuxonEaLX9ZBaD2dVu5Pg9Ydg6icawinwQpcYmOLoTZnecxd6kTgBCWFTJzg1+icjSFoiMpjvq7Kmw6MVFfeeYFXiirC7SzkiD/4l25V1l78g4yELp0tQUJM7o/oheB3AM6JCYRfaxt7Pib9mdSUbD/Lg0NbqkMCSsagvB78unTqSWofVf+n7v22cMmRKBf3EtCjk2pbt8Pmu7PNjAJLxRZhc7i9lV0IYbqqQvfLUmEA/YaiBpqTKLAbJt2MtGJDn8aRicrQO1KTmECXV1W+pP5Vo+ZzKC8f2P4KbuUF3/P4Ssdh+Zw2JE6JMEBMUrIbkIn+TF8zayde2IwJeXiYDe6jFCKqiEf8KPfaksGerNXMS5Q7xhSfw+V3Vde0EsEzTEoEw1jo7ygVkEeJTxO7rMJglNpdXa1wmnu44zTGMGr96rX4rO8ADLjOWQQXwn/uZHn7VqeB0kTwQYWTKtcnid+KUAcRy9y26kb5F5fnDbljciWK1VhKDE7oGeEBPg64kQNa14R60vg3cHKoq+lb6KKROupOIq3uDE8tTRsdlt5k4yVPLcEig1w1mLQr0cmRiYx7jW6bjOpcIeHctFYXpv7CZTLDuROkMVbTP9OhdtA3JNjiNmgaiVm3EKLlzEzpvw9wZECy/nuu1MVRjVi0KbSA05wCnogywncgilzQlRRvNlkPJc=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
