---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgAodR2ojYJMQzmoedmf9UE5tWSJgyU5ApMuuiaEqki/NnJWx/N4C8j4SHVaP3MM6k6pLrawVa+TCJY2s7CLmai26w7QU9+DbwVCJb1vxaQEdo8nEsf+aDf2mgWnnXjybMtRc0SGXXOx/SzPasSl9pJPhXgZYOoidQID0NI2IThOo1Z1F58HRDp4xYpxGeruTU052YaZXZdU7BuefZ4znlLZEZMdWnjcDyg1TAhDtI4iEqspk/Ti05gUEOYWzEXhHe+vo2/jAF8yOmD48FEvpDEaxX3dFb+WqmrAYYUbAA+m2xXrABQG560Q40Wv3R8OpbaijQ8JwgL/X24D+IbnQ8KOjzpzk0kv9pa2JMdWkxa0jn0mn1V3D7NB5rCAgM444emAINS9H5wC24XCHe+UC/gbos17n4OweqviJ3Ym7Q0TOWRUEMcNRz8pAcWrIi+C9a1fz4KezYBD+wEQKXbZqGOycydS4ukjnk+ZXlko1yE9niLfc0Fp5Y1YX8BvWUnNqzdpF7BMRK4PragAqF/G+EhQ6aNymZfYbwg0yrc/UrWvcsxRR4Gen2dxxHezgC1x4vGeIzZnm6qKyIUcLZHmrdDMe4a5aNNiwm6uYk84gVu0kmeE/WNatPcHcWu8iXVp8XwiKsAGNWe61bb/x0gVaW0uZ5elE4N4nXupeKnNJa8ndsKYg9vJoSODu2BY4l1NqqWPMHihyk5yLwBSfYy1tEC/eG5RSJ/xyB+StBEWM/LhRJH7D6HyAYEIbfgr2HJ8bLs8Z0G1bHgFiZz4FlXXfhtHFgCLFUh74XazDO2DeSG7WOL/JZQqArM6SYmlpYliC7iA+3wOUO31zUXZUdzB/IVWC/IwIT4gl1FiSfSbrZpNhKE83C+8fnG4R9OpXP5jPHgmQpFgyhFzUTSkC82eN6AVRAS37aXM1dFZJfiL1EpmpHuguLHffqVhcNd2Olx0r8bGAZLwSxYbs2cHwMlnag1/YJ/iEPSkv25yFuzVmNYtDbMpDhigkH+pP/lFjB5bflOcuboHAgF6S+UY94nU/mTmGPY=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
