---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBnB6fYpd49OURFAGAb2JAwlF7C0GKOkuL5L5Aowm6PNi9mYpTB94bpVEWctBXl3n11QZsDWkTG1jJEAcBzjQmjA5jrThSSYxv4JaoorI4wiIS2zWUuPfl5OM+B32dCT4tm96T24C/dkEcQr4Bljp+WjI1znErdg+pTRy8V7aDdW/Ss2G/AQc3eV74VmZwea7Tg7Q9YHoUNKT5dea2LPOX77rOd+m3p2/AdYoDrbEiDzFtaC/DWQvVgVgFsnzeMWs/liOEc59kUZWtdlDhFaMuDWVgOl/LMNoEPhc6FWzS2NaNZaFgWzR3H54Gxvo/qGV9zoJ2AGtEtI/vPEMfpilFdd47rrB62WbgQbXmEA9SBxu5HC0IIsKx6rm79gwIpQx0SZUKD9itotFlaF7+EfS7l2i3i7CcUJOY3jjh1r7Z/HPLPKvwcbzdhXb0v2QVQEnxvr2i1tQxew4+fy7Imr7VtuJw2pqlWtntlOmG4fHPeZwXNMDkz2/fz3uaj3ht21jr+RbF72pXIivuBlFCw786Xqwyac6b/8FLBGOMW8rGsEUQKfU567QZSlVC2XWbS6LpXOIhUfor4B1zRGA1oM8zfJCkp+iV0Xv6dyO1u4NHdam5OKJLsNG4AL3ptMwZf85+K3Jy/h6XZUPuhVacjzYy+csHe6T0xX/h29znIAFY9WDo3rQzslTj74+br6K9+KydUgjGOQmCDlbqWqHT1EsvWJJ7AXVKIb7YvCgxsvAHNgrRi1q+1S+w350kvlldXbxOZZKlqs2YfhISAv3qcprrbWgc4cEo/eZtQPAZDm1nnIHjYuu2UR6i52W90BnzmvPw59YhGwYG/sKUbgiC4Nusm3mJCqDQKkA1U4/epCuC4SJI4NVH1aUi1x50H3PaalfkTn2oGUPpTuO1WS37nLC64XJ29CH6FQJrztxPKx/wxogJsBHoX7euug2oCj97rx6scl/03T2H/s0lbh7TzdObEiP8nTGy67AozfOtEQ06eY3+Rz10S8DXw7txc3MGZ1bpyac2ab224p+kBZviuwz+hxIQEfCE=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
