---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgAUw5pe0KuUjragQmW4Tr0Zi/s1ctdlE19z9+N4m/IOXKtXbL8JGk5Y3BSTC82YahJXJJxKl4tbxrF/ReZJECJGYUSUeJRn/CbOhrVDgSzkPEaSzVqZgKuToQS6Udo5RLQFtMpUzsf3IewOomOGh3ipanWli7YE3TyU28NCMKnscbszDyXSEWemOFVD8FkExzTdO0g/nms0zx6luptmrVgWEJTlPGhZ1MJuZI4MR2YzT/ZJluxoJEbJtohtADxMZ88YpSoe1G2ZjVmhgMr3IhVIQznbv58iO4GeZqx8sEKIutpSWvWQJoAqaamPM7dBRMN5L0sERgqqMJP2pqk40ay+FCRMEufApW7zU+/IrH4IyXxKnWOM9TMPkQP9Jd8ZnhD3bOaGur/O20XWAiSDqAyM3mHiov82IX3UyiY8zs0VkeA2fL5P0cm1BGaUyEtInUnKOkCb5Q8L1JUJo8jb+1i72RnAY4pO70RqqEOLzYYJY0SwYMKK5mAJ/QuDz8/dCxt+YlzExaT7bQII4HxVNilwqv5wEJCyiyCCd3a5N0XHSkr1KvqaUExpb6G4w5iAQsrkwjo6UxmypovUaG4oimL74OiF7e0GKMnM5478pUZt9l6rn16N4U6oMyikLdFF22oGdJgk5DgCPQGPYCphipjI+wBgpmE/HFHzGvGMgychDO+WNVxZALraHbCjghU3WJfEuXwqm3xDwmvjiTyS8XjiUjYt6FBO2sI/AYuKRwhF1ERkJJLJjDmAYNssNULW/2BuY9WB2UraRzJgHAKaRC3+CEQ3uRz3kKjJdQcfeuBgFNYPqWWS2auirOaCpxnSDdqaT6JtuhULAQfJnboG6OwgqBGz3i/w4PYJUCjbcVvXsArCqDn6zZUNcglpuHIfjNEMeA9d5s3+Pk9Q6Cdstba2vZPYfJnzOKTfSCfqBLX8oJ6X/OfpgvP4d1o//BN9V7W0z1BCYqzyrdzEhvl2rtqBm043PMoYRH67k77kOzmVO7LyjWfhwND1dk371tryK8qRjn/cOSLabDsw5fhDuF+Nr1kJf1sc30wi9iTyyd745AnNAMsVEjzTRgY=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
