---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgA5ni0Hglh0sJLyuFK5VCaq1EW3/RUFPelpKfxqfJ5RgN7yhWh0ImCcfMz9Ss0UbdcP60SWYlFy4IH3B04GOiXHON1nVG+07gEkLSuNBfIgH1SFHvAMk//hpSfcNxPE7TXAHgrXSlfn2YaUpE1JUAb3vgzTm6rZznmhrwgOLdVcGQxqLisimNB0fJsrfFmaEmHceIUdVBG0gdcp5cMzG0ImQqAYfuORb3cl/9ydhL/GfQ8ogs4uCd421ioNV3DQJ2Oq8txUBY0rL7bimSJa7ob2rhOTqYjp1qBPZG+pIikiCfg7w7bHRhNOdi+mp/cpCwcM6LFy3sHuTG2rTreGyyNP7JLRZEVFtv0PHJXjg0khrLFIB+gDS1JM8mGFG4f4lcQ/ytcIf66nm3vgPQFT4quZjWGE/hqq2NZnnuK1ewBt8htonomZzk0oa90l3KpjvTJ9gp/5BFXdr8H/39kpwo21Xi3PybvdeKEjVKUxuh+CCQ1iSB647jlf4afDFNOmaQyjwxMokuIwnhmxHTXAQ1m+Gnv4hlAQrgwRWpM9X5qaEy4BOkVMapTALCvt+5o0PGQwDPbhZTzI0YR2jOl5phhHmT7Qx90/mG8YxX22YPKdavJDLQRfOgopm9OLCBW8BqgO/dPLdv4W2A9QqT5SK0PLFt+Nbc8Obj60cv5w6q3ZTi1ofpyHBzo6QiONbx7vm0dUmPS/roczfKwUSyz/kszpsavGbVOksw3L1vLcvd6fIw4M1VAAU03dcli8OnUsdhDGcJc1vxwEyUtsjKzlfdWY1EGkx7gGe1x0kAplBvN2WR6EPMOD3Ggim1OW5sgKyrHIAm7QeEDtDjQ1Rp9ZasFalATnOtozF/TDdn9AhBcScZbnj+Hry7TaKAMxZsZZTpsCIyAngOrl8DEw8uJeidMX62HJ2ToFUtjP3QM=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
