---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgC4rkWPFrfLIZx+vgoCqp1EGffzYC2W7kX4WgdIPp3DZQYRrJ4GzY1lc9g5Hu68xVjyZya5pI+Oemi9fRt1K2iiDP3oftb8pv5D1dos2YiCVaPfGtC8G0R8+isPj850aqkZi90LGO50PRn/SHit5crcBO13o05W8ceiWV/QRgu9ey5yqwqc/hWcONM8my6HieX2rlZQEypXfH6XgdCxSzDaJ5aS14RLnAe46hdcbZWhKH9387TwFbOiFoTh886LKdgDJ66pk8imK7p+CKM+FPn8c6UhK0qYYqlV8wUe45ynC5njSD7kHGIOCMgweUvtJk2uhHQyTL9Fim0gLm+m/OpYfNkpZGx+YU5H6Y3LV8OOoIv+NlKV/nvfIS1c1z6MK8sLPWpzmW8kDpeFqTWDEs/EGf0mmgR/eXo7saSShOZ5S3SAV93fIacj965u5kExyPEHyZ+AXC6KQ0lOwbwM1eHCSleFlVBE9paRc8g3AFDoyqMVf23jDE1S2sf/UVfAs/f7zZC8mcRejDGMJ79uwMfMu6VuNtn9kNrTeH2M8Ocj8yTiYZu9uZuQpNtYCG7zii9AVbxBEDElQxT+DKaBggY3PQSlBYLqwfOo1Ik1JvnEKeMmYQOreIlsMyHJZ1u9UXfDIyqVcgz9nsFasnvruHSJb/qMoO2C5Jtyg6wt4v59aiFjlNvXdoemMIlYsJFEBETabgwmNDAYUWUq684MEhvw21Tt1xeWFrwGiKiGNKPu0M/rMatNrStuqfWl9DIREoyiKgWRZGuEJhsEn25ws7fDpPACO1fAf93nH8NzzT5cWJ02zuicJ4iR7xJun6V+axPvXjehVRKX5xACYK4HPf6xGB+akz183rTftF7wpuxaBFy5cDF3yWEyVcIi9Kc2tSO7OlJ0bvvrKRiKeLVWDXnv1AP+gWKdmtIiXHfoumGYbUDntFVFODDBz9qjVsL3qZU=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
