---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBk4RNIUYEEzWBCC0smWbWXiytQjx7FFYjyCBJxC6GbxYso4wkTbIxy6lJIIFfciyiElyeTrlbhr35Dhl0mJhUHd0Y1USLTh1q/2dQaBCzvaqX+wyD4STClo1PeypNRJIFjhC5IPeeI0BrN0n1x+5n3PFMPo0qMaPp30iqw1tTTCPgRRKDhbx6dyxvAIGjQ5PKh9DIGNB9JfU/GkU6qz+v+Ef46+n0XeRViVT42fmtbTUJLvMIyfdesxbTSmo1jdXE9SNZJ/lCZKeSAPiUTgUeYfWQpK0cEoP8LK6oLOv9qDPyKKM9pIWbWST5D3nFXniSeAL8wc/iVJ9s98uqFYNFUzEpgWw7oU6U1nBqB7V8Vjpd+C4M7rpHcTaca6zCfQiUcz0HbMISl4EwRZjhBKSb8eT4B/DQUHaFlT4H/9A4T3sHgsVgncGQN+EC6xJductzY5jW5yTtcPswfQH5IKlhfwsLt3+6R9Jf5L36vj9HMoz1oe/xq8V+gM1XDaoOegyLzE6IM3Y+FZ1znvOD3qdU4hmr+OidvevLRsi/pL5xFU2oPNSSMdLKlYz2ID1yH6IO9sFk8K1apnNlExvzlmTCADDiCIiltmSxwZEDWvAId+8CY1+5MKfeDn6MXozNujcfzuC3ibnoU1bI8yJzhU6kLk/T6gFf71e+cU8XJSOPayX2JzBG+wp+U/Js15A3Lj0HxHj4dCuk8Yuky5uddArO3zWd7m4hu6vG5lZ9lx8hN29hjVMux95ijtTNhV5kl7Am2yeNEwROK3MgYH90oJlr5La6Z4fELHdGYq686CBAgvyBY9Ai5WkCzlNFuTrc7F2unH6Ncz2KG4nXWMeYN1pTSx1mMc7o+2NcCz6QYu6qaTVUbq0k/94g/7ExdtFTnY83AznfuvtLa9xUMk/EUlz5/plbeFFyZ2C3hRAI=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
