---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgA6QM6i8SYWt9ULoaiFb/JkMwf6Uue/9W1EGOefnRlppVbYmdAno4eDWVLX2AxrqU3j0cGRwGIFVoQDIj9z60f9xmVSDZvv4qCi7PrAD3EEB618siI+s401Ueo6EsEbr2lP2wZ3gycvWtnoKfrI33KsWvG7OFzYl4xWaDKmwRzjEKL7gk5DIPVCTtqP66dOf4A1W/406eKUU/CWTumbp6uYn1hpycEaePc9teC4xQJecCWk5fONZRid5DvDFGeUp8PzaMqehHKCH2D948Fh38NFN7pFfPid2wukt6BtLyJBoKEAFoH3RcJxNc/HeIP7hEUYvKkzFtDhIb4AzwVfIC89jl/FCu9j774Dz5rt4dQbod7pKrmENCY90NzM/dcFKfSeSBJy9b56x1XkCdDRc3o4Lo8ncC7HBPqVtgV6gXC6b3IHlfbRGO0Hf1vNquH9IZ+I2+TfaxNOjB8G9U3H/k+5GvJb6c+m42aruhG01eb4Zc8et4JInkd05fu5v52FXLSUpV6tNnQ1g5dMWLwbCNifoqsd8CEP3zuXPjYK62g+D1zQrXXX+MqBfU2bVoH8OJZ/LayJkQq6KJjSM+jNe+uB3xfh2bA6c9zFoczOFn/2XQbAh8Mq2ykjWbF+Ieqj50HoxmMdvVfgmi4FR/7VlIk3yIpNosvaKCwTMtkLJJDW1rdXfPtESdz3nXqqwnMYff7Aqy7qv4bY7rAQLAWMbpN1J0b9eINqkiZmTWDSNGXqvViq98/EHDpyK8YvnrfDaLOj/yLmTRf860CPCHqcKew7RKzecWIA20XZ5hMWVKGizR9mfwxj/Ts26JhyR8vCdXbykKB48HIq/LEwnKssdgzwVNEsxYOMaOSiUgDJvdbHil6dnkYi+KvAuUukTDvVcTU9rrcuz1bct++6lbu/bucTYmoz4PGgWjgZHFYBaFcJplJ3LOmX5BC2pWJbBJ7lQ9//Y6GSPsGXeTIP2BrVvcT3Du3/mX+eu7JQampLoK16z2XWiTP6Y0ZY1b6ZDHdxn1mXImLBnV/H049KXYvvpiVjlkbISVI=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
