---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgAlPcFn8EE0N3lEVa08IpIhWxvt+gz0/ED4GKroAaEzaugLSewy3cpAGJ/bGKWO13RAdgzYvslBgWCdrG6pi0M1aD009SIbG93/SXGZrDL2gXURMK9HMcB4Jo8niEOEblpKS3VRB5YE5fQ2f0jPn0ah8O3/QSZDv3PtuG6oT78js5ETVYUFPoMInD7oYFLI5fpZxC6AGmhBxZpSw0RFtkCwwrduBWLg5HucWFLgEJ2CVldurg5+rqBZq2pGhvZWNwC82BRY4LQRmDStuGhkaJ5PQDG8QYngBvXB/NwdNTNeQs0l+FHxzebDrgObShLtGs9rn4EIKTR4vfRjJChn6MWAtEq0UvcQHk6c963bG2WTobu7p0Yg8JDOpPy6eue2nLga7Vv9Av7lLIjm//3mJSfu91glHTNx/VCi8PE4ONpvA1u8ie8OiPYY8GkmNOGElirfFwzUBhvWd1d4fhDH6gRqtRsb2KsCmyEhR+8aKD1oqPzhKvS/YzjVxn9Udhf4tu+5FxnOsA68e4bAEfdzrmzehtQBvUtdAD2+Gvg8rqS8MTCsZdAyOnorvoeFs5j7yJgTxUXz84jV/YZ9EEt3sR/2IiiHnnihcUzclPkll68LSux4GAbCQ1WIOPDtI2LY9GOHWu/yBrRj60k3CsHJc7IvCov7xkNluOxJkiKmHSAXOwHlr1NdYaiC6/eG5uK1YnAFG1xb8nDJz6ZcqJrOz0GG8z41Oycg2m7lrGPSH1WS9ob3mmRgepzK7mV+WGpPDdNBR7B9k9Z0Fi9rNDQ30svyePpRQblNaRsxZlVf9gzGpbpmYjjWLhKwTJ/Jq4J/dYk7d8e5nbjIulozKlKHkb5ow3qgYC43c/TVhqSYUdXDDm8gNogW2BJAqBvzQEoNnD+84q9M/p2ocTkxqcbz8rUygCnITgq/jgGU2vj/WaOIE5sIOIf7kGtS8aVIa8l5fU4lpwynpxDcrJlHFKFC47vc3illXqBAx6VdpqHomJ/Tn6uabhiu21mrv8kYYdLM9IWZse/ejGj0AU6EQBnA1mdQRhRCJ0s=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
