---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgAqgozolY11LOo+p0y7vj0FXgjux+8YepqMQhn+pXbaQEOfCPfv8LwHhTUgUuaSOKUXu508DHHrrAjwHuIBx2guMY/CnEKbNcm0RoDir6uXvbmi/NC4XH5xZxelt3ZYhJEHqX/k9SLKqm11fqHuJL7M1GcWzJaKNySPoBJQW5djE4qDNCKJeTqXyoY/qhUpItnxQpwj8YoXNDMnUmHcWm47EVN2zI3R5ySadjXJdg7LRW+QbGOHZ0ABKenKPycfOgjlz5L1AulfyBjuU5DsVv5UyIKeP937ZPNkgkNF/Z1jPy39dz0+XcdZjZBzyFrjiYGbFSG0FkZ1bnJ21qhZ+fhAdkOdG2Xr4emXrjD+CDHT4wvOxA8cN07TCQ1v1Nll3t6FWPR997U4myccNmOxEDAdjDHNmVA25r8CuJPhZP0e5Bcf9otewlaYrLE4s/pTz0HhD0sd+wKkswa8U86cNB2Z4hJ4tGqWMdkjz2Kb6LmCvq76eUj2VDUt5++ZyE2SEs8Mr3NDhY/meh8RKnOi3Cw48Lr9m9Qah+CL0DRPSCvug09I2j9All4evvb5idAUE+x9DwLZvIHFEmN17j64np1sDsOh7rEn0KL4XvSZuOFq/0lhrSuxAGTKAYDqMG0P9jusdkf/VCgqIrnd+x3m6fMJyB5yeu+QXIoMRnn7xiZYBlr+Qrt3/mqj+W6sGLRtVP1IIgIwvepuY2fYxRzBYuBzE7dL7uU5udmRlRZ7F2hRjuyE+HDXpETMyq1TPn8fabgwqVhCBZUfRb+kThGz3k2LLONC29Bfkg23eTi3KYaGV8TCxiEDFkaFivCT76y7g2j2AFq7YU4ly4OayAyZl1PTrRDjeI+YzQ2lHGPZ5otICL2kolMWVOucH3X3VdHias5P+9KM5TkHMD7jpXEqVZm0/eoCMW1zyptancIVqqkd1q3ixmT3JhcbzdMk3rWIbeG4d3lcfDJeBPSklkWvcHkdA7yhqJxDRVFNg2WnRCpsK23+KdUljJKk4lK/httCwHRkgL0Qd3uO8Y5yEO0TKktbL9s=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
