---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgCYyUyPEu694coYY4sEjSkztvvmQGtRkQ0N+awq+1XcEeDuG0lNZyl/Rto8hFXmsx82liB2W/sqJoHM2BpNRxw2+73hDuByIt98TXtSeqBmHbfLXLGB79PE6huvYQk/GHwXXyBsA9fsEcZagjM/4AAsVszq+NZstOJzEZShHIEFVD5mj2BUUIbih/uxGN8Q4NCGDG+rX5Ie5XL0csadwsOogDQWaftq7iiyglgg2cjz/OUMerCkYBJLAX5ZjKfgfs2L0MFwBhysr15oPU0BDDwnQ2XXaGbySjzsJTmzUSdMZ9/yaehoh4r5oDSl+Tdd3K7syKjHBwaEslHCNFTYzd8cJDM2tORivDcwiE0ewcC1yGCCmZsZb3IWmmbSv91a1Qeu1J8jwquunXktLP9oWsmQS+JngnA8/JvE5YABgr/2ifxB3WA7Cn26o2IAN6CSCuw0nMIHnyBliLXHCe87KZbihU08Cj9HYH6FeAjb/AiMxpazEZii2FdDEy+cCFnj2nDuCHcQFXIcw17P8NyM5oQvW5kkCs4ZgSqU0SOARuK3ESUEyK1aXLJI4bvdbRzGxli1zqT8HD45je53Qv60ZBuQbJBv5MgEJpPmJkooCq4Q9ddiIZ38RPLYI9UfsuylYNmliI+wmapaezt/4E5x/Upz+vW2xBkyvjaODDRXUuGR4GOcWczFfTeJcJprTqT/B9FvGcqAYtXNAVPvEJ0XV3k8mEihkbFQmqOwnEc8cR7k4/VmZJeXyqa8zGkqLNJQGtquLWFhB8Q5zoLczPfbOKY7OTw01q517fUppnEjDFi/pbG6dWfRbY3e5eSXWCmYkGfY6aoF1GYO9h4F5OV0k0JlmnWnYwBBK2ZC6s2o6gmvNCffVr2o1jVBCbAkgcV8c4eDTSBqy8tOxyAAMJtlKdnYHmgCBGaOuzooo5yQ0oq9Bws57MNcznkRH4arN5rpvCA=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
