---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgCTrNQ1/eQ6DovzQ9IA+FKnpVdIM7ddpR8LcatgCc/8XyGvmqYdt2S6L4/FXhY84Omo5K3E5jTfqYwkfRjvE/EBxD5vG8jqjux8Z6t+LCNFBa5c1SaN8g9M0e5QZe5+oyfJ1QtZd3S9Qt4R5Kn+99iEQt7/guj6PlOyo8HOOQqO7MnmJEaqljuMH8xR2/kUBUo066t0BzyvveGQC/G3Ukc72BaTlzvaW7G33zoTFdcHz+YfEuIQJaASkQL/XNz593a+zbmXFpONoA+jp73KdgLGLU7zmV623PzrXYaGhj8nmtO34OSwIgMNquGV+UFFp/gTVHeAHnOzICu22PS4cR1cJnv3Y/AYkFFeq7fSz/x2KhqrlgSpxMxVglX8IHv8JD3qh/J03totF8q8G7/CViJ608ticqvxlah1cgmy/0ukZ+TBVGTcaIUhoXpW6iYJiHMpez17wpypjj+iPvzPl1Fysdpfdy2OfEJ+9bBHowPsVZ8zlQSiq0i5wnhuA6Dezui1K9JAhw0VeG1ollNxEG7jMfcB+UVNSc4xKsbFchyy7f8i1UyFkbwiXQeIl74I6lK8p+hqRyu8/5B0V9FwJRQn5tfAKkfOQZlwT7zyzxhvsek4KIhghoqjoj2rz5Kf6yWseXC9EeZ4GoAyRph13SiAB0/PHo2TMyfHjnHKBgboKha6BFnRYwdTRA7WXUFdqC7cPSAzTQcZUfyOL6z1yYMFFaKM8ZfTD7XujjirXrWaMF9dETF/ZXouEF5I3sNc/qWwUNTJ6Fh3N/0Nj4zdozPZ2B+IQVN94L56i8cUH6UK8pl+j/vgw7AbO7u9zeDc5JbbAzLgVEQ9zX/vB1AKQirapYAtEPnKJ+G14dWMNSsbdH0+Bonw/NQ1Ea16d+aPa71EswCkSu4OMijFsFIg0SD9J7frnG27bNQW8Eaie9urEYRlOI7DVkS1KemLdlKJZCE=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
