---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBvCPl0vbhViS8nJN/ygUxXaLZAPuqBslN15NlzmsDjNsT/XSl7VhTUzSU3M42yYc3wL49ZX+inqaPetGnbfDumoiEdTccH7qH5T0nIuG/quszMq2bUoQw2+ZDkpC+/2eico8U0Rb1i7m+lJLLPYawkox6tWSklCymkdwWLsN+tggsC2us/Ma0FIdg8PwEt8JYLJcK5/BI9vEnwbGCby1M5UPOewQFMeNuyfzfAfaNK1Vsh281OUlZDa00B7jghXXf+clbjR4wEXon8/2r61cuqXf0YP+zP+J6Lmff4Rz4BjuWNJcOD7QSp6626/0xpYwdEiMfIw3o/mj7pOrmtpKkWNW/ckW08uqSTqqOShOLNsYDf6P0q/Ppt6BCuy+glA26M+r3JJ6/lshbMt1lwczL3kJSpUwmJUdL7Ftg+0xrHlghJca/UtwGdzSmjo19qg3atcFBl02BkmwfV0xxg1RxuY0Cdr1x6/J16aIbMzoj8/CBAMshP1t73kKjNSSFeXnxKfUkuiPnDLwwdf3RPzyow/LsfV7eZ9ctJjEHs/31aYBIY38b4XMwzGvTyeDYwVCrUmulidHnyw8P40BRQiJBOYCb0m/OINj1RAmWEQNTkaF9M3GWo1d8jDI274i5eS5pERL9OTP54Cd9Ffz4QDcu2FjJHMtslyjyT3xTVE+3WRV2CM2pGNqGdQycCZDVTqnrAEAhBdPoMz/NTSh4tOHNQChVFg2Fhtq0U30X6352M+GW3iPVJYmfe95ZYtWl+ZgEH/YVLdjKAO939pp5nkJ+rGuHDoaJydAtqofBuW/bgixoAoDUCpzSv/kAdnxh2l1qiwJnYCpzYZgmrS/v8CqGJYCkQURkmnVEUJk/QTmm0IZ3PgicftWnc4scX7l07sTJ/VkQ/FiJuAg4XZFwclVEBGp6Ydo752ysmalfkcid6Ha5h99KyFhWACjQVsh8o9qwfm5dtmsSpYF9bCFtME0c+bftHZA==
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
