---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgAaInYGCPBMjg2FuMjm68LBEvgipaboyJfubIK37d08jy5ZuuUIv+EZPxRAHbznvgYlFxv31uCyXP+5V1Mqu+jZBzpJVeA9irhgfWhXJlMTCwLZEZF2vcB3z/uvBNpoEC601VRu2DR2Y2yVI0mir7Qh7NMcNO1+hriPzWP6VC7dsMZFtSItbAnc2wjfR8/wxY3foS39pFZyBOFYZ99VlM5u+kAWkk+9pVVgUANU1OUeuwdMrYySMz7nYwpJzxARPI9Ki24Ktd1vyLab+P2C458weJTAmrCKImrG9VW/Ttuf0ylXIy3P+5gdhBoT32SJk9xnI4A98cIKEQ4Eo3u2wJQpclaMPZNEOIRzoI9F8ovIy7eXYQg9xmpN+QoBD4CIeJOXS+rp+e2EXNkdKa89SOFcf6hXSSESMEGCEy8jSvZzIm+JzPCPApncanlNkWd+j1q8zuRlrq5uKrhRQEseC24l/yR0z/KpAYsifrFzn79gO7fKEHJER87Q2NOrc6dJxLAWX7o5u7QfpRpInnFkv7e2v0IqKZ1s+Gs1WiKr4XwdopAzfF8P9M1iiXutQOmhAIzBLDgde5eZF1WzKJh0tL38dBJu1G73yiACtKbyGQyrpHSZ4DaNamd3vHCWZm2n36g1DSnQj8Vrb/8gBbIEKdOz0s1oVy6pscdRjVEXBy7XqMaZWFJidgVkk4GiicGucPXgsB2gnbfQuoDZwe1WNGb5nviwLvN5foFuzQoIIzUGpuKhvzLjJyfJOYRqRgFWJw7WTuplqn+heXQN2Hwj8b7ZqB2jcoHNhGzd9A8hIEeWC5xxHg7QHX+8hYVEe2+5P6kK9LvzXRGbYJHw9vypWbawklyX1yXD3hCyxkg5+aGL6Su+0rUIsJyGZln2D2dzlcV76YUXK9wetfOQMnBzwialDd+K2Pf3xIBoMi91per3p+FweQ==
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
