---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgA3R8XZt8vVNjtNu5ncC3bqiR45c57HMaRz0bikjZiC5+i2Ci06w/kK+YZ+7wkde3GJd8lZSMfm1dhNhqVvhui2uwfu8TSnBNJjtdr6c8uvEwmHTLh5eQ/7XaNYW2wiQr0w3jTnsE/LDGjvVYcI33hQVEdXiiugyR2p5jjXVgIsKDTNvRuWmA+TPAyYdX3NBQ3UlNBLo8oQiBG4GSSq3fZ6YgjLCav7m/iloCsZs+Vzx8rJxQD22KJIrqq6J9gM6iRLLUUqOmB7N9r21r9pC3RPTfgZ2E7CesNVw8uq6exz8tBA7kM2iW3f0t1UE7T2rvLwUsOqDmq9gxrH4O9Kg1r16iRKm3GEbFFKGVECF5XrD/thPYGkN66AnKDx+ejkqtn2KBChQOwYeLt6+y3LZsnPgp6q3i1Zs1inOZ6KaXc/R+pDoIKFuwiOl6No+8g5oyBL0++u/Pxf5GEzPFsQSRNNvFFQYWDZzhrG8/1aIKRMv+TN4Kxh062TFU+YuDSk2ICO6IQsCz5VTgnFtfgZpA+9T9xbauMsluKyuCO+nXhpQvb3bSou8E9XH32jnTNaepKXWcEFpgsq7tbMnMcZPJcrwfv7wtmUPmgcHxdQgUH2NCt3Do1X3Qkmrx24EQj4gdjYGGRLx57ok69HAB1GK7BdjIMK+FD/KBBVDOR3tTmsMfpUwyfpx5ZTG9fwPKIbbr1kCTuG45GRzVEVNkKOcebB6pr9c4D9Bl+ECbzivTZ75PyXmZvhECgHwWSYCH3p1BeV7iL9VsyiygpMAfzK7kKwKrPETOuxXyWeN0Cp/1u3BMML6u0A91Fa3M8ItTyJu7NDjDSCoZMqg71fEufASaDAV8JuYOwCQtA55CjLzVoZMudGGLPRrQs7Ju4g3IaJ0aJxD/uydvp2aeHDK9FcBfdsKvzdTkv9KzyhGu7vjcScdSgRGQ==
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
