---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBXpyL1wLDwYguvJQrSoRuPkHuIQI+dYQPKKI9P6LxCkD6t3+EwLfpnvjdPUNc+W4v8wiNGcqmr3fKI3gWj4ellq435XWaM3VseZ4/JyK038PkNEf0WD43esWLF3t0QIpstC11C1kmdA9juMAmS3n6W9xg2JlkCfbJzD9W7GYj2cZzU0Cmw5n3Re0ApOO5t+IESsSol4my8wp5uHYPI+7dXkyiWh84Vg5LOaOW40mFF8kJjDja0A5nMoxuBduOf6hF/muWTcrKBZcO2xeoK8B/ntWWsFwwTdY45fitAGJQchmXawnr142KhgeVpWL0Oa0Rqk5lV0inm7b+tGMsmRa1XXYntN+HFjuySqpW2oEnO/znV/oVcdM6fJU1RbPdAurCu6CzJzRzMX+NabdNZoln7UXirqTnwzWWSaG84/dE4WqsSPm2lzkxCpl6T6EqwFc8fpxvhVDd3cx33bNjq19FJgasMrblOrQ+AEoy4Wl6K6JMprVORfOjuPLdP8L4CHR5VRPuu+/xcVAKWxcPM43sYo7/TfrJsHarEeNB65DA9hq9elOS8jd9KW6IJhmxTOu4dzGvpjFw3xQgpfIdtS2hZABE80a7karISVK7Ey3IOCnth4iRfaZyJyj1gMS6C2mCQfuEQgoyksz9yBXYkDBHI1sMs9aqsQTzjXu2Qit0BFzMGzhnD1eoFWxs1o8e7a5c75btBAShL07yX89xSwF7sSHFopLGxBL+mBXEldiLDHERSD7GdFSvdfMeblveq+kUue7igi2ZCCt4ifzPxAG8KTW/wMpb5Iby8+mgp7lpCSuEeJ1ijJRKwQ8OowfjUfFVC3FoH3NTGnBJqD6FL9Ap+xxoZGqerh2m/IB9qMlCTI1v1l+MG/6T4Pls9jKL/lXp5m72drXQxYDEywk87dMHnZUsAa+NPDFV4Yw0QiHdg+kbXDke3vHP/Nst0vx2gXoIMnBzONZFyFzxBvgmiLbKv+OB4VtMSkdcMne+x/8jzpTWHYSxkNNJ7/fHWENnwmFslrU32ngAiqNkBkyfi
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
