---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBT2KZ85sCM3XUD2tdzFOGwx4EO6ud2n5wjiDPEKJA2jMLrLohxVf8m9O/2/7uiO4POdWyA7K5nm87bPQ8Xsn0i5Nay9RlS9+qU6XUUKctUeeENoK/Dp3qpXR4CZQtmcAFO6q1fKczg3GxZ8Ml9tZVyj0rb3UUbMZ6UxFdh1CVfeJTbzOucJuH11AeK+7d10vgW/GbDKfsjDCfxuYjVDm5wGndIVefW8TNQoNlm2ph09JHpdCUO9nCAGfDAiAnoukCCt9WKzBK7JUmwe5FB/mpCt2kifC8s912yvFqk2CzdWIDij9/MLCEapuQupOhxP0Q/W03QgUiHOB2KUTO+iu6YNe9m5ZwyQVG8S1AT9n5VYFnQgFA7y4aj53LjvYBpVB8atuyySxVvB6rsf4HY87FUdTd+Ri/4npY9W3phzoSiT5+is4JvqaTRZZBZVOfP1md8VH4C0NEmZb/ZZgs1ttjs2Ve15ocyS8NxEsXv9Hw/x0ih1r7GU/k/6JSYq3MGNaP1k0MfdbTGlWB78LsE+f7sIYDLNz5xCuoJkQ63s1YA4z6JA8u+xlLznfI5QJuTBVynuoCUhH+4Oxtf9jzQ1WYvVwQHAz28s3o8dw3Z61O3GCbuGtBpxvUBy64wK9AYxGbkyUL5z8H76beA15wITCAc0meqnwuCnwxczRHfad3s1DN5TikyKQ3dMOEwJPCv1UB13jv7jEId7tJe6+cfGGEgz4mNWMTHPTTvKwtnFj4CzTMk4q7amefS8UPwazHnaz/UmMjsAuWPz1ltqs74LfmKp0uvLB9iBTGnW80CPwv2kMiH0pbe1wC+USBebyIB6g+39sqPo+X9JZ42BZu+CrdsHzte6+gsKzSqvmXGoUvb04+s+WdtZeNaciHwei+frLPWMxP5L3dPLToK4Zu0n4Z7klYSrL9As/vp/Efm9DfhslhU+V1v1quPCbF+kIfZi2hqTjSwLNjHrwo8R7j9iU7whqqZH/b28fShc5A5DkRZmUnio9EJzmSvXGbznPtYikZ9cJXfKnmrGGBjJOFgjqpJF9U=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
