---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgCMMb8+O5/0jbjroCeYqliTwZcMiC4f9DBiTqCEUTq6R5ZmqCANz4Z+dBAoQaE6nYVEH1UIhW00m6bP9b+MVv2lZsJ5gXHVymPuQATULw9RNaxQ20/YE5uF8slRgmgEmOf0jzluORgOwooimupOK0HriVtKzv5ZLZ6/9FuaG1EyJE7eRheXE4452PuhnSqsgdEQnsQ1CUrxh4OLDwPwWjL/gawGVJDBYo+GMfs1WbxXKF+Rsg5Of26mafzFoM747Aafiy+n+NCgU/vlmN8Agte6j2i6HvKmLbYLB29zySOtZnrwQo3enPPwAXFh4cTOMTUJp4gJUea4rH9w10cj89XV74NzQcGk6nE/ChJBWC7pJX8ODPOBbEzqLKgoRJMet0l+MKYHocJ6S5BVy3n+EMPfjWl56acvtnRD8h76uSzpvhaLNdvNxyxYZaP15Q8vMdN7MT5ZrWj0cC3ndjU/yGguYjfKtt1IkMrGAIBwWSdhtLFMakar7tOQKSlT5vechzPzVmuGXHMAsYm1gGr7kVFkw9eZdVvYXgkwGRM53nUaffMDbNxYschVQCTetZtAQj7+ceLFgTWU+kAst7r9ZDtDdztvJEVN/UWoGdybM5mBB5Tbmw5Ox853Haykqag70tRPUzsiywybIi3hnwy50UJV38cNCiQSQ0YNsFmonunSKDrFVRlWh1ZBcOgrtoDMmfm5sKtFAqI5gj/RSJVcutYo64H1spuFUG3sbHLDNI5YH9x6MBIikfhPH/1LxG20QDdzXbkgxu55utZDCxegi96EYZUzmsUvWmiFcdjnTcJXwRoCxuR/ZUFvBvtjawSW9GHGQeg/iKO8EV7RYtzCjAQ+M7g50/osODz+cBY1zyCmmwTJROZztzbptv0LL33GyAt4GBhpCAluPgbCOFHMOAOiSD6TwpIAnnYkZIX/6VaUqUoa2fgrMx/wAK/mr1Gi7C4sqDuTZHfbDiDuSeh8rriSgjJSOZusWZZqUd5SjJRsP681gA+4VLKR3s6CN6HrT6Pee02obIVdNN3C2C10nd+bR3E=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
