---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBYvlskgDb+YlcI+HoPEcYuIN7y9xomlfLZWu0wlEycH/uVnZzcyZoRSmEn2cg3XraCHS8/GHPHttgD0InpV5d6REy//rDz8cP1gRH0vImNdh6qDogNoavZHg05aVmCTxnYtWUjRIiMKlLd65uZ6Rpwq2mjca9GB7E++2kAwFLqCH8RKluNCRb7lnbKmxaxzDuyBWTcsD/Smp4bCxiASvdWGkc6jaB0xkZ7KRxWrMAwF/PXtveMlBn6VDRFWZ5xfkmBiYxoIVULJArAItaQuKJzZTX6SblUn/maXr987Qi7eaaLPrUl8Z2PTqeRB/jx4leFwhWGd2t41uFUeX21yzxOJPUeVuLkOPfxgM+lE2ZZ6PLoqJULcDzKhbAuakRgfI5JexT5EvqhFGnLLW7c/vCnycUeTAFXV6dhCwVs+45JQzNmGgjXTaYuheQ4QJMWCkuVEOU+CxA+uSIK7Nlp6IEIcXdZyIlaOx5L/i4CAy0brdC5vA8M/K9NAYN3HQq7IRzsO8tDZmUGUGRI2S9IT30o15TyvJvbGlfCZc1QSLVFk0uuQ/6PVWcSp4Jzeml5+JgZGMUUDaecYHogfQiyd/+HNqXei7c9us95R2Ad4e1jU2oTnYPZeAkz0g5bse2KPjQXBShdyof7dI6lh6hCI7AxSi2I4bsC802/j93co09zw4NEbUd0WYNVFIlymnPiPigHeaT5rnYSgA6aFd2adcFDWTNyoRortHjj6HEpYMPupe4CTmy0zNRKStQBgtZF1yGmomduRgc/840VgAw0J5NCTIpYzAgk+BokphsF8rvXS7NNZApUly7z4UoAoYFaMKj3+tbtC+xgAH/GJzsQWxsvvBDxvqlsIPmUoAfOVD0HbJ+Jpt6M061+6FxMmnunHwaFYR39A0LzEEDD8qJLDF+INFXA7VEbIewvmF9FrQtEWULR0SRlGen0GKG1s6AGYyk3Oer6Ml4hT2Uu1jgVNC++kQPqzEfWJHjaRY4lN0KJi8D7+YVlqiEZgdhAsFomqud/om3qMrFrWoTimv4QHQKQOGZALtw=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
