---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgCLYa7cDwqO0Ndbo/UzFVKpIQUcNT70iiE7dmlj74Q6MNWnw35FpB9aQ17wj7dudckqL+Y6jJaSUShSvylCB3Uh7PLXzNzT4ByFUDE0y3U7o/QdH29V/ALJj/BdNf/arf/RHNSS7POSXPlFnUM3JFR2W5AdAzJkKagwIzDo2pekke3myHZihxFoiZJ3g6TLl32DtgOvjw/d8+/sxUSCxb/Vq8dU+WZTsaMrMw+LVmiPulRJQIpxpgYEkzghIcUNJS5OG0pI3EYAurckB6ZbqfPDQkv3rYU+X1bHxrrwgS9DXBI5rsp2u9156Y0RuR0Lja6N8vEFqdTyVWvBQ099T2swHPQKnBHz6mS/HaWtZxmCJCH16dEspemggoZuKhCyz7G4EYWzyMtXcncuoUy7vZjMyo2nx1td2rYOWUP2lYhc6wuXoicVyPK4/PUN/P+oOHB4jrwh3Xjuhce3IvTTz/uJxKLvL30VWwxAb0nujjE52WxQ1HnurlvkDdEBSzyhDgHJeEenAyQf4ln9VOs3PB2CJ+OLSSw4TtlZzNuJecwYpmaBltqR1ndczZbuVv8qDsOQR2B7LhsR3Mw+F5LCAY1Veazq0PtTcFm/Cx9gxqszVmQYIu+Gack5WKvW1QQQEFcuFdGWr6l+pxdEnPbZmzXmKOjiC1gxV1OlumQjtdW1hZ3y74qqQH1468HmjS1vO5812d4s0l1glAKGOHl2bxYtxSHXulrBX77w3Elg2ahooNRTlDleZTV3sCxFouNvhBqQu/flfGYs/PoUuYYVHKG+0oniJk0NLsufFOvrW6Pa1JrU05CZN85tZMtRxub0ZeIQ5oRMeI8O2hPo2bc7ZCErNnCdFKr8ABxlPLqPXKfd00TL6PPcrno4aNbYN72icKiWqPYDF8KE50xuToF7zhZcQc8UPFPiAZ36nswBEGWJcm3sh/m6AzXRdJm2ut5VkiP4TAxTlNX6WgZ7MHXb2D8LGcmvPvtLJFlF9Zq+ftg0AriqwTAtaRw35pI4Y8pa7Bn4t+EfmiOmieww0XPnS/N0Bio=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
