---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgAaCPSKFFC+IgvwG46MSGWgzLtCi1UUKQEIUwUO3kn+zVRLPoYmw1akFD1yiJe2YgQthF0Kuh5jE58ULhJp6stlZ93/rNmwPyciqAsBTVbcuUfao+XNxkE94R8EEEXZNesG6t31A8ZWCRlUTjDF1HTZReVpn+hSPXbCK11/FIWkjKT4RY0yq8wckuyJdkIYSkhvRXs8jutuuMXfxh3cJmI6ZL6iniCAr9gLw3NCzJHiOS9mkWIQS1WUcSJYTl9+WET/tbNYbqPSxdlFaG05KFglZMb3orVbUY7VdmGAZ4u8+05Y6d3EVN7vFPZsf4keL+qNEvh/aR+jHR3yWBHTqo/mD4pTYM6X13fsi0hcK3W293uDpP1fvtNie/pyVtWKMoT/amVJyUuKPjKoTr+qCbKirm7/HNCukLeMuSHdsMF3kUJIXS0J5Nait75RbYMfyIvxlEjRCc5vrQtA6wBsW9B5grGJYorQnPf7YEP6jGqMoKwPXz0UJ1vJ0ZdLV8exiD4FR7cfEjvO8pdbH12iDdSNHcpoTwwRsAvIxqom8Z37iwH2JG9sCDQGzAjKM9nwbtIpMe96Y0ChDshpwBDjD+8XX9aYLyI/Q78PbnPYbKz7W67a6+UdkVW2xFEYHIPIsXnBKwTGcSbBCkV9obH2MG8/HnCkuRY1oZKXsqI865rM9iY7HchNRGdOGOTadDJC2kxsh3UHDD+xWI/baHdzcBR2zaMNcrTWlYlqoU3Ol9KJwFgVteBQqVptWxQdfRZDn0FK34Tre0UaR44DwE/tIbW/SPWRoxbQu+qUPv7CGWF5fEf2aVxVXwCBcIRrhBAXZfbJFXXENzOJqmJQZoh9jOgQZqJ1cshQ8Ei6P0JihKOjASiPqglyfjsYx83UsFjtBrssJ/zvcDdm9Peq3JUH5fnIdItBt+gR9vv79XSz+IWrPI0wKZjqeAWuorIwzf++Lec+1NY2eXCnHN4iCD7NpYpq7LxonbD8a0kID5SneirDHF4RJ2RHcjthZ59D52qgx6mT3xsbTkZ4kkISX3PVbnKGD3DnEms=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
