---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgAt8bzjJXvCLiwxmSJ/SyJnAmkTkragoJGfFTb656TN/oJdkleuBhrKEI5nVhF2QrgiMuB9Xyl5vM5gfBjl8fmZvuBzH9NB2eATRdXmucvMwu+xJsrpfuFrC+EKKWHsoqeZqg8sGHaDoQFAflfmxPTCSp2w5zmFrdkUSe6wl1Tu7u3ScmyGMozZ3OIsOnqgLwEFJE9H+ngeFHPqhfgoocOH+BaoJzZ23ERo9Mlm5QoT2ZC/qXZfnjfRkyaIJTKomzbbd6YCnzOTmyVdg0+sdM5VUM6kc+0Ix9POYd09nOla2gBE410eOBJMziYAhsKljhCVwbwkMSUjvp4jk5iMPIBx/npM982hlIma0VaTmi2U+mf3ayGTG2tVYa69YYxX7F1xy+Fwkb3LojdY9+aFlrFnyRAj7nnSvFQUh/XsU/14QHb03qZCso2bmVFrYC+7GHzAfeogKKakivCboZG1SmnBB89JXpUM7q2KMisFIXgPTi+P4wreYytIUCa/M91VFJBkuN67iK7ErS61CA5FlXp9TFgAtUEWiaqXSRylJ1oohTs3QgEO5hvf3D2RBuHMEJHf3s0T9i/QwAQPxk9zyGvJ1Qzd4yvsbx98IMlug4/d9ZpC2shfH6vQ2COWozuCJdQoFsk/dLboOEC5E6DL46RQTbDry2plj23q4C433oFnh0CGlYjnTY7NacqFc8M0D/F4W0c+Xa9B3Wy3StFeDKGOpEaRvER7slCPAy/vA25gr9bdbvMTPQK75IQmzeZ+QjsPd6FJFnMZPBvazSJuoxukamBwiat3G+uBsXfTtLieWYTPtkoIw+eEzTkPGA9aavdSWno+L+j7WZ6we/l+Ey24UxlRaaRzgEpTMQkbtO8FlkGklwDk21b016k86VxoKnTygjxJhWWXLaNuqns6jiP7D5g7XW2abKRPhlN4bgchZXoQPM//nZy+ezC9J6BmckeaU2dglZNGwTeyM5TyedlqB3ZIc0mT4NaC2F8O8EfJJE6aqlcMUEl0plkGsO1l9aYC8snFhLsU3MXIcf/uHFE7aqRZK0o=
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
    type: Opaque
