---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgA4MuZWMpiwabN1iMSMqgilJhQkiM4TFWB9H5QB/xeWOqCHe1HboZ05rtPSzjogOiN4ueG5qEeNJ7GEcwAy8FOH66O0ugttvQDlZlpfmzCwR9Jlhf6okpPNHrny9X6z7C3kgQtrQLWgUnORONM7bx0JFF2lTsHlx8rQQNlyp77WtlUmb/KwhvROG5hV5mnVNZTOrhf7kqFAWjdE8mbApsMICHIuxm5upBncca2p6GG/hXUIFeSY+GTeZcE+DXhk11Fk0+xeSv0Qv8jVgDXnZslHQ40ZsL8VOJAZIGQjaJKnp4lxfa/z0mTHd2BftoYTjA1fzC3+glpMrpv8AitK16Bx7YYmC4nSstW2EvuPru1GwyxNwg6vsCyWq81d9N546ZqsS7cCRKOWJ+EjjHXOW0U/D7CEKR5sgjDT+/HHySMDHrRswAMZSlPZn2S1GGCXh7xu3YLXiCaF2rwgfDVhA2iAS041ATQSIeywtF0ALjneAKl7qxA0h7PxtRcs9ujFF1rh6O7DOOFcmPA2ZvxWPw+Ht0Mplvx2+zj0qcq/kzcU+k0K0t32bVbnEWRgd1kCKG9gpETq5w8bnkplFGZc5CRJmkZck4M8lwacsz9jp1OQKQt0lQRN4QPJNMWnfbei5y0reflFsAOjPZ+rxOKhmeF+XkIou8EWraVO4VIoV98njeXPzZ+e3HyH5jI51MlQ8G7fflU3UIu0xAfMAvzcEsI7z59imiDKf5dzTVVLmQMlYcsGMwKngUKPAkOXiKUBW58mGmau5adu4huOpaBl2G0HTBBKskBZSAL5vFky3QUvjSPg84Bcg2nKCwMr2KxHm7dyHMkngkF1v9tLPOuSkISFwGS+6R1FHIFSzj81GxhLwrRmyy7i9P1/QudAY7q9DeXKvTORN9aePQCD3Mvff1tOE7VgBldk
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
