---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager-webhook-powerdns
  namespace: cert-manager
spec:
  interval: 15m
  chart:
    spec:
      chart: cert-manager-webhook-pdns
      sourceRef:
        kind: HelmRepository
        name: cert-manager-webhook-powerdns
        namespace: cert-manager
      interval: 15m
  values:
    # Webhook configuration
    groupName: acme.zacharyseguin.ca

    # Resources
    resources:
      requests:
        memory: "32Mi"
        cpu: "25m"
      limits:
        memory: "64Mi"
        cpu: "50m"

    # Security context
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 1000
      seccompProfile:
        type: RuntimeDefault
