# Cilium CNI configuration for Terraform-managed infrastructure layer
# Reference: /code/github.com/cilium/cilium/install/kubernetes/cilium/values.yaml

cluster:
  name: talos-cluster
  id: 1
k8sServiceHost: "10.0.3.1"
k8sServicePort: "6443"
ipam:
  mode: cluster-pool
  operator:
    clusterPoolIPv4PodCIDRList:
      - "10.244.0.0/16"
routingMode: native
ipv4NativeRoutingCIDR: "10.244.0.0/16"
ipv4:
  enabled: true
ipMasqAgent:
  enabled: false
enableIPv4Masquerade: true
autoDirectNodeRoutes: true
securityContext:
  capabilities:
    ciliumAgent:
      [CHOWN, KILL, NET_ADMIN, NET_RAW, IPC_LOCK, SYS_ADMIN, SYS_RESOURCE, DAC_OVERRIDE, FOWNER, SETGID, SETUID]
    cleanCiliumState: [NET_ADMIN, SYS_ADMIN, SYS_RESOURCE]
cgroup:
  hostRoot: /sys/fs/cgroup
  autoMount:
    enabled: false
hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true
loadBalancer:
  algorithm: random
l2announcements:
  enabled: true
kubeProxyReplacement: "true"
bpf:
  hostLegacyRouting: true
endpointRoutes:
  enabled: true
socketLB:
  enabled: true
hostServices:
  enabled: true
  protocols: tcp,udp
nodePort:
  enabled: true
  bindProtection: true
