apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - pvc.yaml
  - secrets.yaml
  - secret-copy.yaml
  - externalsecret-api-key.yaml
  - terraform.yaml
