apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - infrastructure/core-kustomization.yaml
  - infrastructure/platform-kustomization.yaml
  - cilium
  - metallb
  - cert-manager
  - vault/flux-kustomization.yaml
  - external-secrets
  - authentik/flux-kustomization.yaml
  - applications/harbor/flux-kustomization.yaml
  - applications/gitea/flux-kustomization.yaml
  - applications/matrix/flux-kustomization.yaml
  - applications/test-app/flux-kustomization.yaml
