apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - infrastructure/core-kustomization.yaml
  - infrastructure/networking-kustomization.yaml
  - infrastructure/platform-kustomization.yaml
  - applications
