apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# TODO LATER: Evaluate and implement layered approach once stable core components are identified
resources:
  - core/flux-kustomization.yaml
  - cilium/flux-kustomization.yaml
  - storage/flux-kustomization.yaml
  - metallb/flux-kustomization.yaml
  - metallb/config-flux-kustomization.yaml
  - cert-manager/flux-kustomization.yaml
  - ingress-nginx/flux-kustomization.yaml
  - powerdns/flux-kustomization.yaml
  - vault-operator/flux-kustomization.yaml
  - vault/flux-kustomization.yaml
  - external-secrets/flux-kustomization.yaml
  - authentik/flux-kustomization.yaml
  - services-config/flux-kustomization.yaml
  - applications/harbor/flux-kustomization.yaml
  - applications/gitea/flux-kustomization.yaml
  - applications/matrix/flux-kustomization.yaml
  - applications/test-app/flux-kustomization.yaml
