apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# TODO LATER: Evaluate and implement layered approach once stable core components are identified
resources:
  - core/flux-kustomization.yaml
  - storage/flux-kustomization.yaml
  - metallb/flux-kustomization.yaml
  - metallb/config-flux-kustomization.yaml
  - cert-manager/flux-kustomization.yaml
  - cert-manager-config/flux-kustomization.yaml
  - ingress-nginx/flux-kustomization.yaml
  - powerdns/flux-kustomization.yaml
  - powerdns-operator/flux-kustomization.yaml
  - powerdns-zones/flux-kustomization.yaml
  - vault-operator/flux-kustomization.yaml
  - vault/flux-kustomization.yaml
  - vault-config/flux-kustomization.yaml
  - external-secrets-operator/flux-kustomization.yaml
  - external-secrets/flux-kustomization.yaml
  - reflector/flux-kustomization.yaml
  - external-dns/flux-kustomization.yaml
  - cert-manager-webhook/flux-kustomization.yaml
  - authentik/flux-kustomization.yaml
  - authentik-config/flux-kustomization.yaml
  - applications/harbor/flux-kustomization.yaml
  - applications/gitea/flux-kustomization.yaml
  - applications/matrix/flux-kustomization.yaml
  - applications/test-app/flux-kustomization.yaml
  - sso/gitea/flux-kustomization.yaml
  - sso/matrix/flux-kustomization.yaml
  - sso/harbor/flux-kustomization.yaml
