---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: applications
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./k8s/applications
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
  timeout: 5m0s
  wait: true
  # Depend on platform infrastructure being ready
  dependsOn:
    - name: platform
      namespace: flux-system