---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: networking
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./k8s/infrastructure/networking
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  timeout: 10m0s
  wait: true
  # Depends on platform for tf-controller CRDs (Terraform resources)
  dependsOn:
    - name: platform