apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: vault-backend
spec:
  provider:
    vault:
      server: "http://instance.vault:8200" # Internal service for Bank-Vaults instance
      path: "kv"
      version: "v2"
      auth:
        tokenSecretRef:
          name: "instance-unseal-keys" # Bank-Vaults stores root token here
          namespace: "vault"
          key: "vault-root"
