apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager
  namespace: flux-system
spec:
  interval: 10m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: "./k8s/cert-manager"
  prune: true
  wait: true
  dependsOn:
    - name: cilium
    # TODO: Could split cert-manager core vs Let's Encrypt integration if needed
    # PowerDNS only required for our DNS-01 challenges with PowerDNS webhook
    - name: powerdns
  # Verify cert-manager's own capabilities are ready
  healthChecks:
    - apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      name: letsencrypt-prod
      namespace: ""
