apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nix-store
  namespace: nix-cache
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: proxmox-csi-retain
