apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager-config
  namespace: flux-system
spec:
  interval: 10m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: "./k8s/cert-manager-config"
  prune: true
  wait: true
  dependsOn:
    - name: cert-manager # Wait for cert-manager CRDs
    - name: powerdns # Wait for PowerDNS to be ready for DNS-01
  # Verify ClusterIssuer is created
  healthChecks:
    - apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      name: letsencrypt-prod
      namespace: ""
