---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: grafana-oauth-client-secret-generator
  namespace: monitoring
spec:
  length: 32
  digits: 10
  symbols: 0
  symbolCharacters: ""
  noUpper: false
  allowRepeat: true
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-oauth-client-secret
  namespace: monitoring
spec:
  refreshInterval: 24h
  target:
    name: grafana-oauth-client-secret
    creationPolicy: Owner
    template:
      type: Opaque
      metadata:
        annotations:
          reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
          reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "flux-system"
          reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
          reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: "flux-system"
      data:
        client_secret: "{{ .client_secret }}"
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: grafana-oauth-client-secret-generator
      rewrite:
        - regexp:
            source: "password"
            target: "client_secret"
