---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: harbor-oauth-client-secret-generator
  namespace: harbor
spec:
  length: 32
  digits: 10
  symbols: 0
  symbolCharacters: ""
  noUpper: false
  allowRepeat: true
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: harbor-oauth-client-secret
  namespace: harbor
spec:
  refreshInterval: 24h
  target:
    name: harbor-oauth-client-secret
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        client_secret: "{{ .client_secret }}"
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: harbor-oauth-client-secret-generator
