apiVersion: infra.contrib.fluxcd.io/v1alpha2
kind: Terraform
metadata:
  name: grafana-sso
  namespace: flux-system
spec:
  interval: 15m
  path: ./terraform/authentik-blueprint/grafana
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

  # Use in-cluster service account
  serviceAccountName: tf-runner
  approvePlan: "auto"

  # Store Terraform state in Kubernetes secret
  backendConfig:
    customConfiguration: |
      backend "kubernetes" {
        secret_suffix    = "grafana-sso"
        namespace        = "flux-system"
      }

  # Variables for Terraform
  vars:
    - name: authentik_url
      value: "http://authentik-server.authentik"
    - name: grafana_url
      value: "https://grafana.test-cluster.agentydragon.com"
    - name: vault_address
      value: "http://instance.vault:8200"

  # Get secrets from Kubernetes secrets
  varsFrom:
    - kind: Secret
      name: authentik-api-token
      varsKeys:
        - authentik_token
      optional: false
    - kind: Secret
      name: vault-token
      varsKeys:
        - vault_token
      optional: false
