apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: services-config
  namespace: flux-system
spec:
  interval: 10m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: "./k8s/services-config"
  prune: true
  wait: true
  dependsOn:
    - name: authentik
      namespace: flux-system
    - name: vault
      namespace: flux-system
