---
# Ingress VIP pool - dedicated for ingress-nginx
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: ingress-pool
  namespace: metallb-system
spec:
  addresses:
    - 10.0.3.2-10.0.3.2 # Single dedicated IP for ingress
  autoAssign: false # Manual assignment only
---
# General services pool - for other LoadBalancer services
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: services-pool
  namespace: metallb-system
spec:
  addresses:
    - 10.0.3.10-10.0.3.20 # Pool for Harbor, Gitea, etc. if needed
  autoAssign: true # Automatic assignment
---
# L2 Advertisement - announces IPs via ARP on local network
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-advertisement
  namespace: metallb-system
spec:
  ipAddressPools:
    - ingress-pool
    - services-pool
  # Announce on all interfaces (default)
  interfaces: []
  # Announce from all nodes
  nodeSelectors: []
