apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
# Matrix Synapse deployment will be added here
# Matrix OIDC/SSO configuration is handled by k8s/sso/matrix/ (matrix-sso Terraform)
